.card{
    margin: 0 auto;
    border: none;

    .card-body{
        padding: 0 !important;
        .tieuDeCard{
            @include styleText($color-green-1,$fs-0,$fw-bold-3)
        }
        .noiDungCard{
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 2;
            display: -webkit-box;
            -webkit-box-orient: vertical;
        }
        .gia{
            .giaHienTai{
                font-weight: 900;
            }
            .giaCu{
                text-decoration: line-through;
                opacity: 0.5;
            }
        }
        button{
            border-radius: 0 !important;
        }
    }
}


.khungHinh{
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}


