.pro1{
    .card{
        .imgProduct1{
            // background-image: url(/src/Asset/Carousel/chong_nang_2.png);
            background-size: cover;
            height: 240px;
            width: 100%;
            // border: 1px solid rgb(15, 226, 138);
            cursor: pointer;

            position: relative;

            .xem1{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                
                box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.6);

                color: $color-green-1;
                font-weight: 700;
                // display: none;
                border-radius: 0;
                opacity: 0;
                transition: all .5s;
            }

               
            
        }
        :hover .xem1{
            // display: block;
            opacity: 1;
        }
    }

    
}

.nutThoatModal{
    position: fixed;
    right: 10%;
    top: 16%;
}

@include responsive("medium"){
    .pro1{
        .card{
            .imgProduct1{
                
                height: 310px;
            }
        }
    
        
    }

    // cái khung model và cái nút thoát
    .ReactModal__Content{
        width: 85% !important;
        margin: 220px auto !important;
    }

    .nutThoatModal{
        position: fixed;
        right: 8%;
        top: 19%;
    }
}

@include responsive("small"){
    .pro1{
        .card{
            .imgProduct1{
                
                height: 440px;
            }
        }
    }

    .ReactModal__Content{
        width: 85% !important;
        margin: 100px auto !important;
    }

    .nutThoatModal{
        position: fixed;
        right: 8%;
        top: 16%;
    }
}


@include responsive("iphone678plus"){
    .pro1{
        .card{
            .imgProduct1{
                height: 320px;
            }
        }
    }

    .nutThoatModal{
        position: fixed;
        right: 5%;
        top: 9%;
    }
}

@include responsive("iphonex"){

    .ReactModal__Content{
        width: 80% !important;
        margin: 90px auto !important;
    }
    
    .nutThoatModal{
        z-index: 100;
        position: fixed;
        right: 10%;
        top: 13%;
    }
}


@include responsive("iphone5"){

    .ReactModal__Content{
        width: 80% !important;
        margin: 50px auto !important;
    }
    
    .nutThoatModal{
        z-index: 100;
        position: fixed;
        right: 9%;
        top: 10%;
    }
}





