.emptycart{
    // position: absolute;
    // .emptycartImg{
    //     // position: relative;
    //     margin: 0 auto;
    //     background-image: url(/src/Asset/GioHang/empty_cart.png);
    //     background-repeat: no-repeat;
    //     height: 250px;
    // }
}

.contentGioHang{
    padding-top: 100px;
    padding-bottom: 50px;
}

.tenSp_TrongGioHang{
    width: 500px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}